@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/geomanist/geomanist-book.eot');
  src: url('../fonts/geomanist/geomanist-book.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/geomanist/geomanist-book.woff2') format('woff2'),
    url('../fonts/geomanist/geomanist-book.woff') format('woff'),
    url('../fonts/geomanist/geomanist-book.ttf') format('truetype'),
    url('../fonts/geomanist/geomanist-book.svg#geomanist-book') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Geomanist';
  font-size: 62.5%;
  font-weight: normal;
  letter-spacing: 0.2px;
  color: #545e6f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #f1f2f5;
}

.header {
  background: #451771;
  padding: 20px 25px;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo-ultimate {
  height: 30px;
  width: 30px;
  background: url('../img/ultimate.svg') no-repeat center center;
  background-size: contain;
}

.logo-name {
  margin: 0 0 0 14px;
  line-height: 30px;
  font-size: 1.6rem;
  color: #fff;
}

.header-logo img {
  height: 100%;
}

#app {
  padding-top: 50px;
  text-align: center;
}

#app h1 {
  margin: 0;
  font-size: 3rem;
}

#app h1:before {
  content: '';
  background: url('../img/javascript.svg') no-repeat center center;
  background-size: contain;
  width: 34px;
  height: 34px;
  display: inline-block;
  margin-right: 14px;
  position: relative;
  top: 6px;
}
